Schemas/Full FSGIM Schema/energy_meas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:X-fsgim:fsgim" xmlns="urn:X-fsgim:fsgim" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fsgim="urn:X-fsgim:fsgim" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>This package contains the classes that are defined for the purpose of modeling energy measurements.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="enumerations.xsd"/>
	<xs:include schemaLocation="naesb_pap10_eui.xsd"/>
	<xs:include schemaLocation="time.xsd"/>
	<xs:include schemaLocation="measurements.xsd"/>
	<xs:element name="EnergyApparentQuantity" type="EnergyApparentQuantity"/>
	<xs:complexType name="EnergyApparentQuantity">
		<xs:annotation>
			<xs:documentation>Quantity/metadata pair used to represent apparent energy measurements.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EnergyApparentQuantityRestrictions">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyApparentQuantityRestrictions" type="EnergyApparentQuantityRestrictions"/>
	<xs:complexType name="EnergyApparentQuantityRestrictions">
		<xs:complexContent>
			<xs:restriction base="EnergyQuantityType">
				<xs:sequence>
					<xs:element name="timeReference" type="UTCDateTimeInterval" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Applicable time reference associated with this Measurement. The duration, end, and start can be populated as needed to describe the time reference of the measurement. If only a timestamp is necessary then omit duration and end. If the measurement occurred over a period, use the duration attribute to indicate this period. Only two of the three attributes may be included.

If the Measurement is a MeasurementSet the contained MeasurementQuantity will not populate timeReference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measuredAt" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The logical reference for a point of measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uncertainty" type="xs:float" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A positive number which represents the possible positive or negative deviation from the claimed measured value. If this attribute is not defined, a default value may be used as defined by local policy.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:float" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quantity of the measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measurementMetadata" type="EnergyApparentType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The metadata associated with an EnergyApparentQuantity.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyApparentType" type="EnergyApparentType"/>
	<xs:complexType name="EnergyApparentType">
		<xs:annotation>
			<xs:documentation>Metadata associated with measurements of apparent energy.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="EnergyItemType">
				<xs:sequence>
					<xs:element name="accumulationCharacteristic" type="AccumulationKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Accumulation behaviour of a reading over time, usually 'measuringPeriod', to be used with individual endpoints (as opposed to 'macroPeriod' and 'aggregate' that are used to describe aggregations of data from individual endpoints).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataQualifier" type="DataQualifierKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Salient attribute of the reading data aggregated from individual endpoints. This is mainly used to define a mathematical operation carried out over 'macroPeriod', but may also be used to describe an attribute of the data when the 'macroPeriod' is not defined.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User defined text describing this measurement or its usage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemDescription" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pre-defined name for this type of measurement as specified by the derived class.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemUnits" type="UnitSymbolKind" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Units for the measurement, not including any multiplier.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measurementQuality" type="QualityOfReading" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quality of the measurement if other than "good."</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resolution" type="xs:float" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The granularity of the measurement, corresponding to the smallest increment reportable by a measurement instrument.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="siScaleCode" type="SiScaleCodeType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>SI multiplier that applies to the unit of measure contained in the itemUnits enumeration.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyItemType" type="EnergyItemType"/>
	<xs:complexType name="EnergyItemType" abstract="true">
		<xs:annotation>
			<xs:documentation>Metadata associated with an energy measurement.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="MeasurementMetadataType">
				<xs:sequence>
					<xs:element name="accumulationCharacteristic" type="AccumulationKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Accumulation behaviour of a reading over time, usually 'measuringPeriod', to be used with individual endpoints (as opposed to 'macroPeriod' and 'aggregate' that are used to describe aggregations of data from individual endpoints).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataQualifier" type="DataQualifierKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Salient attribute of the reading data aggregated from individual endpoints. This is mainly used to define a mathematical operation carried out over 'macroPeriod', but may also be used to describe an attribute of the data when the 'macroPeriod' is not defined.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User defined text describing this measurement or its usage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemDescription" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pre-defined name for this type of measurement as specified by the derived class.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemUnits" type="UnitSymbolKind" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Units for the measurement, not including any multiplier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measurementQuality" type="QualityOfReading" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quality of the measurement if other than "good."</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resolution" type="xs:float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The granularity of the measurement, corresponding to the smallest increment reportable by a measurement instrument.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="siScaleCode" type="SiScaleCodeType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>SI multiplier that applies to the unit of measure contained in the itemUnits enumeration.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyMeasurementsSet" type="EnergyMeasurementsSet"/>
	<xs:complexType name="EnergyMeasurementsSet">
		<xs:annotation>
			<xs:documentation>A container class used to hold zero to one of each type of energy measurement that could be made for a given location and time.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EnergyMeasurementsSetRestrictions">
				<xs:sequence>
					<xs:element name="quantityRealEnergy" type="EnergyRealQuantity" minOccurs="1" maxOccurs="1"/>
					<xs:element name="quantityApparentEnergy" type="EnergyApparentQuantity" minOccurs="0" maxOccurs="1"/>
					<xs:element name="quantityReactiveEnergy" type="EnergyReactiveQuantity" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyMeasurementsSetRestrictions" type="EnergyMeasurementsSetRestrictions"/>
	<xs:complexType name="EnergyMeasurementsSetRestrictions">
		<xs:complexContent>
			<xs:restriction base="MeasurementSet">
				<xs:sequence>
					<xs:element name="timeReference" type="UTCDateTimeInterval" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Applicable time reference associated with this Measurement. The duration, end, and start can be populated as needed to describe the time reference of the measurement. If only a timestamp is necessary then omit duration and end. If the measurement occurred over a period, use the duration attribute to indicate this period. Only two of the three attributes may be included.

If the Measurement is a MeasurementSet the contained MeasurementQuantity will not populate timeReference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measuredAt" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The logical reference for a point of measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyQuantityType" type="EnergyQuantityType"/>
	<xs:complexType name="EnergyQuantityType" abstract="true">
		<xs:annotation>
			<xs:documentation>Quantity/metadata pair used to represent types of energy measurements.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="MeasurementQuantity">
				<xs:sequence>
					<xs:element name="timeReference" type="UTCDateTimeInterval" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Applicable time reference associated with this Measurement. The duration, end, and start can be populated as needed to describe the time reference of the measurement. If only a timestamp is necessary then omit duration and end. If the measurement occurred over a period, use the duration attribute to indicate this period. Only two of the three attributes may be included.

If the Measurement is a MeasurementSet the contained MeasurementQuantity will not populate timeReference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measuredAt" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The logical reference for a point of measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uncertainty" type="xs:float" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A positive number which represents the possible positive or negative deviation from the claimed measured value. If this attribute is not defined, a default value may be used as defined by local policy.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:float" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quantity of the measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measurementMetadata" type="EnergyItemType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The metadata associated with an EnergyQuantityType.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyReactiveQuantity" type="EnergyReactiveQuantity"/>
	<xs:complexType name="EnergyReactiveQuantity">
		<xs:annotation>
			<xs:documentation>Quantity/metadata pair used to represent reactive energy measurements.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EnergyReactiveQuantityRestrictions">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyReactiveQuantityRestrictions" type="EnergyReactiveQuantityRestrictions"/>
	<xs:complexType name="EnergyReactiveQuantityRestrictions">
		<xs:complexContent>
			<xs:restriction base="EnergyQuantityType">
				<xs:sequence>
					<xs:element name="timeReference" type="UTCDateTimeInterval" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Applicable time reference associated with this Measurement. The duration, end, and start can be populated as needed to describe the time reference of the measurement. If only a timestamp is necessary then omit duration and end. If the measurement occurred over a period, use the duration attribute to indicate this period. Only two of the three attributes may be included.

If the Measurement is a MeasurementSet the contained MeasurementQuantity will not populate timeReference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measuredAt" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The logical reference for a point of measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uncertainty" type="xs:float" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A positive number which represents the possible positive or negative deviation from the claimed measured value. If this attribute is not defined, a default value may be used as defined by local policy.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:float" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quantity of the measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measurementMetadata" type="EnergyReactiveType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The metadata associated with an EnergyReactiveQuantity.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyReactiveType" type="EnergyReactiveType"/>
	<xs:complexType name="EnergyReactiveType">
		<xs:annotation>
			<xs:documentation>Metadata associated with measurements of reactive energy.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="EnergyItemType">
				<xs:sequence>
					<xs:element name="accumulationCharacteristic" type="AccumulationKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Accumulation behaviour of a reading over time, usually 'measuringPeriod', to be used with individual endpoints (as opposed to 'macroPeriod' and 'aggregate' that are used to describe aggregations of data from individual endpoints).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataQualifier" type="DataQualifierKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Salient attribute of the reading data aggregated from individual endpoints. This is mainly used to define a mathematical operation carried out over 'macroPeriod', but may also be used to describe an attribute of the data when the 'macroPeriod' is not defined.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User defined text describing this measurement or its usage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemDescription" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pre-defined name for this type of measurement as specified by the derived class.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemUnits" type="UnitSymbolKind" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Units for the measurement, not including any multiplier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measurementQuality" type="QualityOfReading" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quality of the measurement if other than "good."</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resolution" type="xs:float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The granularity of the measurement, corresponding to the smallest increment reportable by a measurement instrument.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="siScaleCode" type="SiScaleCodeType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>SI multiplier that applies to the unit of measure contained in the itemUnits enumeration.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyRealQuantity" type="EnergyRealQuantity"/>
	<xs:complexType name="EnergyRealQuantity">
		<xs:annotation>
			<xs:documentation>Quantity/metadata pair used to represent real energy measurements.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EnergyRealQuantityRestrictions">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyRealQuantityRestrictions" type="EnergyRealQuantityRestrictions"/>
	<xs:complexType name="EnergyRealQuantityRestrictions">
		<xs:complexContent>
			<xs:restriction base="StoreableEnergyQuantity">
				<xs:sequence>
					<xs:element name="timeReference" type="UTCDateTimeInterval" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Applicable time reference associated with this Measurement. The duration, end, and start can be populated as needed to describe the time reference of the measurement. If only a timestamp is necessary then omit duration and end. If the measurement occurred over a period, use the duration attribute to indicate this period. Only two of the three attributes may be included.

If the Measurement is a MeasurementSet the contained MeasurementQuantity will not populate timeReference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measuredAt" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The logical reference for a point of measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uncertainty" type="xs:float" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A positive number which represents the possible positive or negative deviation from the claimed measured value. If this attribute is not defined, a default value may be used as defined by local policy.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:float" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quantity of the measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measurementMetadata" type="EnergyRealType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The metadata associated with an EnergyRealQuantity.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyRealType" type="EnergyRealType"/>
	<xs:complexType name="EnergyRealType">
		<xs:annotation>
			<xs:documentation>Metadata associated with measurements of real energy.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="EnergyItemType">
				<xs:sequence>
					<xs:element name="accumulationCharacteristic" type="AccumulationKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Accumulation behaviour of a reading over time, usually 'measuringPeriod', to be used with individual endpoints (as opposed to 'macroPeriod' and 'aggregate' that are used to describe aggregations of data from individual endpoints).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataQualifier" type="DataQualifierKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Salient attribute of the reading data aggregated from individual endpoints. This is mainly used to define a mathematical operation carried out over 'macroPeriod', but may also be used to describe an attribute of the data when the 'macroPeriod' is not defined.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User defined text describing this measurement or its usage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemDescription" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pre-defined name for this type of measurement as specified by the derived class.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemUnits" type="UnitSymbolKind" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Units for the measurement, not including any multiplier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measurementQuality" type="QualityOfReading" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quality of the measurement if other than "good."</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resolution" type="xs:float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The granularity of the measurement, corresponding to the smallest increment reportable by a measurement instrument.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="siScaleCode" type="SiScaleCodeType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>SI multiplier that applies to the unit of measure contained in the itemUnits enumeration.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyThermalQuantity" type="EnergyThermalQuantity"/>
	<xs:complexType name="EnergyThermalQuantity">
		<xs:annotation>
			<xs:documentation>Quantity/metadata pair used to represent thermal energy measurements.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EnergyThermalQuantityRestrictions">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyThermalQuantityRestrictions" type="EnergyThermalQuantityRestrictions"/>
	<xs:complexType name="EnergyThermalQuantityRestrictions">
		<xs:complexContent>
			<xs:restriction base="StoreableEnergyQuantity">
				<xs:sequence>
					<xs:element name="timeReference" type="UTCDateTimeInterval" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Applicable time reference associated with this Measurement. The duration, end, and start can be populated as needed to describe the time reference of the measurement. If only a timestamp is necessary then omit duration and end. If the measurement occurred over a period, use the duration attribute to indicate this period. Only two of the three attributes may be included.

If the Measurement is a MeasurementSet the contained MeasurementQuantity will not populate timeReference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measuredAt" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The logical reference for a point of measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uncertainty" type="xs:float" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A positive number which represents the possible positive or negative deviation from the claimed measured value. If this attribute is not defined, a default value may be used as defined by local policy.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:float" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quantity of the measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measurementMetadata" type="EnergyThermalType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The metadata associated with an EnergyThermalQuantity.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EnergyThermalType" type="EnergyThermalType"/>
	<xs:complexType name="EnergyThermalType">
		<xs:annotation>
			<xs:documentation>Metadata associated with measurements of thermal energy.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="EnergyItemType">
				<xs:sequence>
					<xs:element name="accumulationCharacteristic" type="AccumulationKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Accumulation behaviour of a reading over time, usually 'measuringPeriod', to be used with individual endpoints (as opposed to 'macroPeriod' and 'aggregate' that are used to describe aggregations of data from individual endpoints).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataQualifier" type="DataQualifierKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Salient attribute of the reading data aggregated from individual endpoints. This is mainly used to define a mathematical operation carried out over 'macroPeriod', but may also be used to describe an attribute of the data when the 'macroPeriod' is not defined.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User defined text describing this measurement or its usage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemDescription" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pre-defined name for this type of measurement as specified by the derived class.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemUnits" type="UnitSymbolKind" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Units for the measurement, not including any multiplier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measurementQuality" type="QualityOfReading" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quality of the measurement if other than "good."</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resolution" type="xs:float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The granularity of the measurement, corresponding to the smallest increment reportable by a measurement instrument.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="siScaleCode" type="SiScaleCodeType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>SI multiplier that applies to the unit of measure contained in the itemUnits enumeration.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StoreableEnergyQuantity" type="StoreableEnergyQuantity"/>
	<xs:complexType name="StoreableEnergyQuantity" abstract="true">
		<xs:annotation>
			<xs:documentation>Quantity used to represent real electrical or thermal energy.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EnergyQuantityType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ThermalEnergyMeasurementsSet" type="ThermalEnergyMeasurementsSet"/>
	<xs:complexType name="ThermalEnergyMeasurementsSet">
		<xs:complexContent>
			<xs:extension base="ThermalEnergyMeasurementsSetRestrictions">
				<xs:sequence>
					<xs:element name="quantityThermalEnergy" type="EnergyThermalQuantity" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ThermalEnergyMeasurementsSetRestrictions" type="ThermalEnergyMeasurementsSetRestrictions"/>
	<xs:complexType name="ThermalEnergyMeasurementsSetRestrictions">
		<xs:complexContent>
			<xs:restriction base="MeasurementSet">
				<xs:sequence>
					<xs:element name="timeReference" type="UTCDateTimeInterval" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Applicable time reference associated with this Measurement. The duration, end, and start can be populated as needed to describe the time reference of the measurement. If only a timestamp is necessary then omit duration and end. If the measurement occurred over a period, use the duration attribute to indicate this period. Only two of the three attributes may be included.

If the Measurement is a MeasurementSet the contained MeasurementQuantity will not populate timeReference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measuredAt" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The logical reference for a point of measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
